/* Master styles */
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.right-side{
    display: flex;
}

.nav-wrapper > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link{
    color: black !important;
}

/* Home page styles */
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 85%;
}

.profile-content-wrapper{
    padding: 30px;
}

.profile-content-wrapper h1{
    color: lightseagreen;
}

.aboutme-left{
    box-sizing: border-box;
    float: left;
    width: 45%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 475;
    margin: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    background-color: #fede00;
    line-height: 2;
}

.aboutme-right{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 475;
}

.profile-pic{
    width: 100%;
    height: auto;
}

/* Portfolio styles */
.container{
    background-color: #000000;
}

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative;
}

/* .portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.portfolio-img1-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/jimmy-alonzo-inspired.jpg)
}

.portfolio-img2-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/walter-white.jpg)
}

.portfolio-img3-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/teddy-fresh.jpg)
}

.portfolio-img4-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/pennywise.jpg)
}

.portfolio-img5-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/neytiri.jpg)
}

.portfolio-img6-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/beth-harmon.jpg)
}

.portfolio-img7-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/cyberpunk.jpg)
}

.portfolio-img8-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/hand.jpg)
}

/* .portfolio-img9-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/portfolio/???.jpg)
} */

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: lightseagreen;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.img-resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}
